GLFW_ICON ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    //BLOCK "080904E4"  // English UK
    BLOCK "040904E4"    // English US
    BEGIN
      VALUE "CompanyName", "doomgames"
      VALUE "FileDescription", "http://doomgames.cc"
      VALUE "FileVersion", "0.0.1"
      VALUE "InternalName", "xtHunt"
      VALUE "LegalCopyright", "BY-NC non-commercial"
      VALUE "OriginalFilename", "xtHunt"
      VALUE "ProductName", "xtHunt Game"
      VALUE "ProductVersion", "0.0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    //VALUE "Translation", 0x809, 1252  // English UK
    VALUE "Translation", 0x409, 1252    // English US
  END
END
